.color_6F98A8 {
    background-color: #6F98A8;
}
.color_2B8EAD {
    background-color: #2B8EAD;
}
.color_2F454E {
    background-color: #2F454E;
}

.color_BFBFBF {
    background-color: #BFBFBF;
}

.color_72C3DC {
    background-color: #72C3DC;
}

@media only screen and (max-width: 375px) {
    .color_6F98A8 {
        border-left: 10px solid #6F98A8;
        background-color: #efefef;
    }
    .color_2B8EAD {
        border-left: 10px solid #2B8EAD;
        background-color: #efefef;
    }
    .color_2F454E {
        border-left: 10px solid #2F454E;
        background-color: #efefef;
    }

    .color_BFBFBF {
        border-left: 10px solid #BFBFBF;
        background-color: #efefef;
    }

    .color_72C3DC {
        border-left: 10px solid #72C3DC;
        background-color: #efefef;
    }
}